// common components

@import 'common-components/base-set-components';
@import 'common-components/banner';
@import 'common-components/slick';
@import 'common-components/offer';
@import 'common-components/seller-info';
@import 'common-components/device-features';
@import 'common-components/calc-profit';
@import 'common-components/diagnosis-box';
@import 'common-components/training-types';
@import 'common-components/tests';
@import 'common-components/biofeedback';
@import 'common-components/case';
@import 'common-components/use';
@import 'common-components/research';
@import 'common-components/rehab';
@import 'common-components/_flow';

// !common components

@import 'index/tech-info';
@import 'index/reviews';

@import 'technology/techology-box';
@import 'technology/tech-feature';
@import 'technology/function';
@import 'technology/trajectory';
@import 'technology/platform';
@import 'technology/accessories';

@import 'purchasing/buttons-section';
@import 'purchasing/faq';
@import 'purchasing/delivery';
@import 'purchasing/features-section';

@import 'contacts/contacts-box';

.contacts-wrap {
  padding-top: 84px;
  padding-bottom: 268px;
  margin-bottom: -268px;
  background: #dfedf5;
}

.info-block {
  background: #dfedf5;
  padding-top: 52px;
  padding-bottom: 222px;
  margin-bottom: -256px;
}

.popup {
  display: none;
  padding: 28px;
  background: #fff;
  color: #000;
  text-align: center;
}

.popup__title {
  margin-bottom: 10px;
  font-size: 28px;
  font-family: 'museo_sans_cyrl700', Arial, sans-serif;
}

.popup__text {
  font-size: 20px;
}



