footer.footer
	.box
		.footer__topline
			a.footer__logo(href='#')
				img.footer__logo-img(src='/img/footer-logo.png')

			ul.footer__menu
				li.footer__menu-item
					a.footer__menu-link(href='#') технология huber 360
				li.footer__menu-item
					a.footer__menu-link(href='#') медицинская реабилитация
				li.footer__menu-item
					a.footer__menu-link(href='#') спортивная подготовка
				li.footer__menu-item
					a.footer__menu-link(href='#') покупка
				li.footer__menu-item
					a.footer__menu-link(href='#') контакты

		.footer__grid
			.footer__grid-head контакты официального дистрибьютора <span>huber 360<span> в рф

			.footer__grid-body
				.footer__grid-item
					.footer__grid-elem <b>+7 (812) 385-74-01</b>
					.footer__grid-elem
						a.footer__phone.link(href='#') info@reamed.su

				.footer__grid-item
					.footer__grid-elem Пн-Пт <b>9:15-17:00</b>
					.footer__grid-elem.footer__grid-elem_text-gray ООО «РеаМед»

				.footer__grid-item
					a.footer__company(href='#')
						img(src='/img/company-logo1.jpg')

				.footer__grid-item
					a.footer__company(href='#')
						img(src='/img/company-logo2.png')