header.header
	.header__row.box
		a.header__logo(href='#')
			img.header__logo-img(src='img/header-logo.jpg')

		nav.nav
			a.nav__link(href='#') Технология huber 360
			a.nav__link(href='#') Медицинская реабилитация
				span.nav__link-inner + Функциональная диогностика
			a.nav__link(href='#') Спортивная подготовка
				span.nav__link-inner + Функциональная диогностика
			a.nav__link(href='#') Покупка
			a.nav__link(href='#') Контакты