extends ../layouts/main-layout

block head
  +head({
    'paths': [
      'css/style.css',
      'fancy/jquery.fancybox.css'
    ]
  })

block content
  main.content
    include ../blocks/banner

    include ../blocks/tech-info

    include ../blocks/reviews

    +offer({
      className: 'shadow'
    })