extends ../layouts/main-layout

block head
  +head({
    'paths': [
      'css/purchasing.css'
    ]
  })

block content
  main.content
    include ../blocks/buttons-section

    include ../blocks/faq

    include ../blocks/features-section

    +offer({
      className: 'shadow'
    })