extends ../layouts/main-layout

block head
  +head({
    'paths': [
      'css/style.css',
      'fancy/jquery.fancybox.css'
    ]
  })

block content
  main.content
    +diagnosis({
      bg: 'diagnosis-bg-blue.jpg',
      title: 'Спортивная подготовка',
      titleColor: 'blue',
      subtitle: '+ Функциональная диогностика',
      text: true
    })

    include ../blocks/training-types

    include ../blocks/biofeedback

    +rehab({
      training: true
    })

    include ../blocks/tests

    include ../blocks/flow

    include ../blocks/report

    include ../blocks/device-features

    include ../blocks/case

    .info-block
      include ../blocks/use

      include ../blocks/research

    include ../blocks/calc-profit

    +offer({
      className: 'shadow'
    })
