mixin diagnosis(options)
	.diagnosis&attributes({
		'style': 'background-image: url(img/' + options.bg + ')'
	})
		.diagnosis__container.box
			.diagnosis__title= options.title
				span&attributes({
          'class': 'diagnosis__title-text-' + options.titleColor
        })= options.subtitle

			.diagnosis__body
				img.diagnosis__icon(src='img/tech-info-icon.png')

				.diagnosis__aside
					.diagnosis__hint Новая патентованная технология
					.diagnosis__tech Многоосевая моторизированная платформа
					.diagnosis__transcript Нейрофизическая тренировака <br> и оценка с БОС

					if options.text
						p.diagnosis__text Создание индивидуальных программ тренировок с учетом специфики и функционального состояния спортсменов любых видов спорта