@import '../common-components/variables';

.faq {
  margin-top: 102px;
}

.faq__container {
  padding: 72px 42px 70px;
  border-radius: 4px;
  box-shadow: 0 6px 51px rgba(94, 123, 150, 0.39);
  background: #fff;
}

.faq__title {
  margin-bottom: 32px;
  font: 36px/1.3 'museo_sans_cyrl900', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000;
}

.faq__list {
  display: flex;
  flex-wrap: wrap;
  counter-reset: counter;
  margin-right: -32px;
}

.faq__item {
  position: relative;
  width: 33.33%;
  margin: 30px 0;
  padding: 0 32px;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    counter-increment: counter;
    content: counter(counter);
    font: 30px/1 'museo_sans_cyrl900', 'Arial', sans-serif;
    color: $color-link;
  }
}