@import '../common-components/variables';

.features {
  padding-top: 80px;
  padding-bottom: 395px;
  margin-bottom: -395px;
  background: #dfedf5;
}

.features__list {
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-radius: 4px;
  padding: 88px 60px 76px;
}

.features__item {
  width: 300px;
  padding: 0 15px;
}

.features__item-icon-box {
  display: inline-block;
  height: 54px;
  margin-bottom: 8px;
}

.features__item-icon {
  max-height: 100%;
  display: block;
}

.features__item-title {
  margin-bottom: 17px;
  font: 18px/1.3 'museo_sans_cyrl900', 'Arial', sans-serif;
  text-transform: uppercase;
}
