.accessories
	.box
		.accessories__container
			.accessories__title Аксессуары

			.accessories__grid
				.accessories__grid-item.accessories__grid-item-1-2
					.accessories__accessory(style='background-image: url(img/accessory-bg1.jpg)')
						.accessories__accessory-content
							.accessories__accessory-title 1 артикулярный стул для пациентов с ограниченной подвижностью
							.accessories__accessory-text Изменение угла от 0 до 15 градусов. Безопасное крепление на платформе

				.accessories__grid-item.accessories__grid-item-1-2
					.accessories__accessory(style='background-image: url(img/accessory-bg2.jpg)')
						.accessories__accessory-content
							.accessories__accessory-title 2 подставки для ног
							.accessories__accessory-text С изменением угла элевации (до 10) и ротации (до 15)

				.accessories__grid-item.accessories__grid-item-1-3
					.accessories__accessory(style='background-image: url(img/accessory-bg3.jpg)')
						.accessories__accessory-content
							.accessories__accessory-title 2 защитных <br> поручня

				.accessories__grid-item.accessories__grid-item-1-3
					.accessories__accessory(style='background-image: url(img/accessory-bg4.jpg)')
						.accessories__accessory-content
							.accessories__accessory-title 1 монитор сердечного ритма для индикации пульса пациента
							.accessories__accessory-text Помогает определить уровень интенсивности

				.accessories__grid-item.accessories__grid-item-1-3
					.accessories__accessory(style='background-image: url(img/accessory-bg5.jpg)')
						.accessories__accessory-content
							.accessories__accessory-title 1 фиксатор ног <br> для теста Ромберта