.banner
	.box
		.banner__body
			img.banner__img(src='img/banner-img.png')
			.banner__aside
				.banner__place
					| Сделано во франции
					img.banner__place-icon(src='img/icon-fr.png')

				.banner__title Технология нейрофизической тренеровки и оценки
					span.banner__transcript (neuro physical training™)

				.banner__label
					.banner__label-text технология
						span huber
					.banner__label-num 360

		.banner__buttons
			a.banner__button.banner__button_red(href='#')
				img.banner__button-icon(src='img/icon-medicine.png')
				| В медицине

			a.banner__button.banner__button_blue(href='#')
				img.banner__button-icon(src='img/icon-rings.png')
				| В спорте