.biofeedback
	.box
		.biofeedback__container
			.biofeedback__aside
				.biofeedback__title
					.biofeedback__title-text биологическая
						span обратная связь
					.biofeedback__title-name бос

				.biofeedback__img(src='img/biofeedback-img.jpg')

			.biofeedback__text-block
				p.biofeedback__text Система в режиме реального времени предоставляет все данные о тренировке, позволяет отслеживать динамику терапии, а также мотивирует пациента на максимально эффективное выполнение упражнений за счет игровой подачи и соревновательной составляющей.

				.biofeedback__text-block-title

				p.biofeedback__text Система HUBER, также содержит в себе большое количество встроенных протоколов лечения, что, несомненно, облегчает работу врача-физиотерапевта, освобождая его от необходимости составления специальных планов тренировок для большинства стандартных показаний.

				p.biofeedback__text Помимо этого врач или тренер может создавать собственные протоколы тренировок для нужд своей практики.
