.buttons-section
	.buttons-group
		.buttons-group__title Как и где купить huber 360?
		.buttons-group__body
			a.buttons-group__button(href='#') Для государственных ЛПУ
			a.buttons-group__button(href='#') Для частных клиник
			a.buttons-group__button(href='#') Для спорта

	include seller-info