.case
	.box
		.case__title Клинический кейс
			span по использованию функциональной оценки

		.case__row
			.case__item
				.video-section
					iframe(width='560', height='315', src='https://www.youtube.com/embed/6juBT6EnUIc', frameborder='0', allowfullscreen='')
				.case__item-text Отзыв о тренажере HUBER 360 MD от кинезитерапевта Jérome Caullet

			.case__item
				img.case__img(src='img/case-img.jpg')
				.case__item-text Отзыв о тренажере HUBER 360 MD от кинезитерапевта Jérome Caullet
