.contacts.box
	.contacts__bar
		.contacts__icon-wrap
			img.contacts__icon(src='img/contacts-icon.jpg')

		ul.contacts__list
			li.contacts__list-item ООО "РЕАМЕД"
			li.contacts__list-item Малоохтинский пр., д.16, <br> к.1, оф. 2Н
			li.contacts__list-item +7 (812) 385-74-01
			li.contacts__list-item
				a.link(href='#') info@reamed.su

	.map
		script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4e00913b541e6cfe0332631e3b31a22a87bd1670a164be3f20e329d20feb176d&width=100%25&lang=ru_RU&scroll=true')
