.delivery
	.box
		.delivery__body
			.delivery__aside
				.delivery__title Доставка
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

			form.delivery__calc
				.delivery__calc-title Калькулятор доставки

				.delivery__calc-columns
					.delivery__column-column
						.control
							input.control__field(placeholder='Пункт отправления*')
							span.control__line

					.delivery__column-column
						.control
							input.control__field(placeholder='Пункт назначения*')
							span.control__line

				.delivery__calc-columns
					.delivery__column-column
						.control
							input.control__field(placeholder='Колличество')
							span.control__line

					.delivery__column-column
						.control
							input.control__field(placeholder='Объявленная ценность')
							span.control__line

				button.button.delivery__calc-button Рассчитать