.device
	.box
		.device__container
			.device__features
				.device__feature Полностью встроенная система оценки
				.device__feature Система фото и видео анализа
				.device__feature Ведение базы данных тренировок и отслеживание динамики
				.device__feature Прямой экспорт в PDF
				.device__feature Создание собственных программ тренировок
				.device__feature Беспроводное управление HUBER 360
				.device__feature Дублирование информации на мониторе Huber и планшете

			.device__aside
				.device__caption Удаленное управление <span>с планшета</span>
				img.device__img(src='img/device-img-lg.jpg')