.faq
	.box
		.faq__container
			.faq__title Как производиться покупка?
			.faq__list
				- for (var n = 0; n < 5; n++)
					.faq__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accums et viverra justo commodo.