.flow
	.box
		.flow__label
			.flow__label-text как работает
				span huber
			.flow__label-num 360

		.flow__steps
			.flow__step
				img.flow__step-icon(src='img/step-icon1.png')
				p.flow__step-text Создание карточки пациента в базе данных на планшете

			.flow__step
				img.flow__step-icon(src='img/step-icon2.png')
				p.flow__step-text Оценка функционального состояния при помощи тестов

			.flow__step
				img.flow__step-icon(src='img/step-icon3.png')
				p.flow__step-text Анализ тестов, выявление проблемных зон

			.flow__step
				img.flow__step-icon(src='img/step-icon4.png')
				p.flow__step-text Создание индивидуальной программы реабилитации проблемных зон

			.flow__step
				img.flow__step-icon(src='img/step-icon5.png')
				p.flow__step-text Проведение курса реабилитации с возможностью коррекции

			.flow__step
				img.flow__step-icon(src='img/step-icon6.png')
				p.flow__step-text Повторная оценка функционального состояния для отслеживания динамики терапии

			.flow__step
				img.flow__step-icon(src='img/step-icon7.png')
				p.flow__step-text Создание и печать отчетов терапии
