.platform
	.platform__body.box
		.platform__aside
			.platform__label
				.platform__label-text технология <br> huber
				.platform__label-num 360

			.platform__text Позволяет проводить тренировки, как на подвижной, так и на неподвижной платформе, независимо от этого получая все данный обратной связи.

		.platform__title Статическая и динамическая<br>силовая платформа
			span со встроенными сенсорами