.report
	.box
		.report__title Отчет
			= ' '
			span Huber 360

		.report__carousel
			.dg-container
				ul.dg-wrapper
					- for (var n = 0; n < 3; n++)
						li
							img(src='img/slide1.jpg')
						li
							img(src='img/slide2.jpg')
						li
							img(src='img/slide3.jpg')

				nav.dg-nav
					span.dg-nav-button.dg-prev
					span.dg-nav-button.dg-next