//.report
//	.box
//		.reposrt__title
//
//		.reposrt__carousel
//			- for (var n = 0; n < 3; n++)
//				img.reposrt__carousel-img(src='img/slide1.jpg')
//				img.reposrt__carousel-img(src='img/slide2.jpg')
//				img.reposrt__carousel-img(src='img/slide3.jpg')