.seller-info
	.seller-info__text
		| Продажи
		= ' '
		span.seller-info__text-gray HUBER
		= ' '
		span.seller-info__text-blue 360
		=' '
		| в России <br> ведет официальный дистрибьютор CHATTANOOGA — компания
		= ' '
		span.seller-info__text-red РЕАМЕД

	.seller-info__icon-wrap
		img.seller-info__icon(src='img/seller-info-icon.jpg')

