.technology
	.box
		.technology__container
			.technology__head
				.technology__label
					.technology__label-text технология
						span huber
					.technology__label-num 360

				.technology__text
					| Новый подход к
					= ' '
					span.technology__text-red	реабилитации
					= ' '
					| и
					= ' '
					span.technology__text-blue спортивной подготовке

			.technology__title 4 поколения <span>HUBER</span>

			.technology__items
				.technology__item
					.technology__item-title huber
					img.technology__item-img(src='img/technology-img1.jpg')
					.technology__item-date 2003

				.technology__item
					.technology__item-title huber
						= ' '
						span spine force
					img.technology__item-img(src='img/technology-img2.jpg')
					.technology__item-date 2008

				.technology__item
					.technology__item-title huber
						= ' '
						span motion lab
					img.technology__item-img(src='img/technology-img3.jpg')
					.technology__item-date 2010

				.technology__item
					.technology__item-title huber
						= ' '
						span 360
					img.technology__item-img(src='img/technology-img4.jpg')
					.technology__item-date 2015