.tech-feature
	.tech-feature__body.box
		img.tech-feature-icon(src='img/tech-info-icon.png')

		.tech-feature__aside
			.tech-feature__title Патентованная <br> технология
			.tech-feature__subtitle Многоосевая моторизированная платформа

