.tech-info
	.tech-info__body.box
		img.tech-info__icon(src='img/tech-info-icon.png')

		.tech-info__aside
			.tech-info__label
				.tech-info__label-text технология <br> huber
				.tech-info__label-num 360

			- for (var n = 0; n < 3; n++)
				p.tech-info__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

			a.button.tech-info__button(href='#') Подробнее о технологии