.tests
	.box
		.tests__title
			span Функциональная оценка
			| 7 ТЕСТОВ

		.tests__list
			.tests__item
				img.tests__item-img(src='img/test-img1.jpg')
				.tests__item-title Тест на стабильность (Ромберг)
				.tests__item-text Позволяет отслеживать динамику терапии, а также мотивирует на максимально эффективное.

			.tests__item
				img.tests__item-img(src='img/test-img2.jpg')
				.tests__item-title Тест на равновесие
				.tests__item-text БОС система в режиме реального времени предоставляет данные о тренировке, позволяет терапии,

			.tests__item
				img.tests__item-img(src='img/test-img3.jpg')
				.tests__item-title Тест Факуда
				.tests__item-text Позволяет отслеживать динамику терапии, а также мотивирует на максимально эффективное. Позволяет проводить тренировки

			.tests__item
				img.tests__item-img(src='img/test-img4.jpg')
				.tests__item-title Тест на стабильность
				.tests__item-text БОС система в режиме реального времени предоставляет данные о тренировке, позволяет терапии, а также мотивирует пациента

			.tests__item
				img.tests__item-img(src='img/test-img5.jpg')
				.tests__item-title Тест мобильность
				.tests__item-text Позволяет отслеживать динамику терапии, а также мотивирует на максимально эффективное.

			.tests__item
				img.tests__item-img(src='img/test-img6.jpg')
				.tests__item-title Тест на силу
				.tests__item-text БОС система в режиме реального времени предоставляет данные о тренировке, позволяет терапии, а также мотивирует пациента

			.tests__item
				img.tests__item-img(src='img/test-img7.jpg')
				.tests__item-title Тест на координацию
				.tests__item-text Позволяет отслеживать динамику терапии, а также мотивирует на максимально эффективное. Позволяет проводить тренировки,