.training-types
	.box
		.training-types__title
			span 4 типа
			| Фундаментальных <br> тренировок

		.training-types__list
			.training-type
				.training-type__title Гибкость и подвижность
				img.training-type__img(src='img/training-type1.jpg')
				p.training-type__text БОС система в режиме реального времени предоставляет данные о тренировке, позволяет терапии, а также мотивирует пациента.

			.training-type
				.training-type__title Динамическое усилие
				img.training-type__img(src='img/training-type2.jpg')
				p.training-type__text Позволяет отслеживать динамику терапии, а также мотивирует на максимально эффективное.

			.training-type
				.training-type__title Осанка и баланс
				img.training-type__img(src='img/training-type3.jpg')
				p.training-type__text БОС система в режиме реального времени предоставляет данные о тренировке, позволяет терапии, а также мотивирует пациента.

			.training-type
				.training-type__title Cопротивление
				img.training-type__img(src='img/training-type4.jpg')
				p.training-type__text Позволяет отслеживать динамику терапии, а также мотивирует на максимально эффективное.