.trajectory
	.box
		.trajectory__title Траектории движения <br> платформы

		.trajectory__shapes
			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon1.png')
				.trajectory__shape-title Круг

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon2.png')
				.trajectory__shape-title Позиция

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon3.png')
				.trajectory__shape-title Спираль

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon4.png')
				.trajectory__shape-title Качель

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon5.png')
				.trajectory__shape-title Солнце

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon6.png')
				.trajectory__shape-title Спектр

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon7.png')
				.trajectory__shape-title Роза

			.trajectory__shape
				img.trajectory__shape-img(src='img/shape-icon8.png')
				.trajectory__shape-title Свободная

		.trajectory__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar.

		.trajectory__devices
			.trajectory__device
				img.trajectory__device-img(src='img/device-img1.jpg')
				.trajectory__device-title New Huber 360
				.trajectory__device-text Lorem ipsum dolor sit amet, consectet adipiscing elit.

			.trajectory__device
				img.trajectory__device-img(src='img/device-img2.jpg')
				.trajectory__device-title Film HUBER 360 GB
				.trajectory__device-text Lorem ipsum dolor sit amet, consectet adipiscing elit. Aenean euismod.

			.trajectory__device
				img.trajectory__device-img(src='img/device-img3.jpg')
				.trajectory__device-title New Huber 360
				.trajectory__device-text Lorem ipsum dolor sit amet, consectet adipiscing elit.

			.trajectory__device
				img.trajectory__device-img(src='img/device-img4.jpg')
				.trajectory__device-title Film HUBER 360 GB
				.trajectory__device-text Lorem ipsum dolor sit amet, consectet adipiscing elit. Aenean euismod.