.use.box
	.use__title.title Уже используют huber

	.use__list
		- for (var n = 0; n < 2; n++)
			.use__item
				img.use__item-img(src='img/use-img1.jpg')
				.use__item-title Medical Scientific Center for Health
				.use__item-place Россия

			.use__item
				img.use__item-img(src='img/use-img2.jpg')
				.use__item-title Клиническая больница МЕДСИ
				.use__item-place Россия

