@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanscyrl_4-webfont.eot');
  src:
    url('../fonts/museosanscyrl_4-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosanscyrl_4-webfont.woff2') format('woff2'),
    url('../fonts/museosanscyrl_4-webfont.woff') format('woff'),
    url('../fonts/museosanscyrl_4-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('../fonts/museosanscyrl_5-webfont.eot');
  src:
    url('../fonts/museosanscyrl_5-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosanscyrl_5-webfont.woff2') format('woff2'),
    url('../fonts/museosanscyrl_5-webfont.woff') format('woff'),
    url('../fonts/museosanscyrl_5-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('../fonts/museosanscyrl_6-webfont.eot');
  src:
    url('../fonts/museosanscyrl_6-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosanscyrl_6-webfont.woff2') format('woff2'),
    url('../fonts/museosanscyrl_6-webfont.woff') format('woff'),
    url('../fonts/museosanscyrl_6-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'museo_sans_cyrl700';
  src: url('../fonts/museosanscyrl_7-webfont.eot');
  src:
    url('../fonts/museosanscyrl_7-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosanscyrl_7-webfont.woff2') format('woff2'),
    url('../fonts/museosanscyrl_7-webfont.woff') format('woff'),
    url('../fonts/museosanscyrl_7-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl900';
  src: url('../fonts/museosanscyrl_8-webfont.eot');
  src:
    url('../fonts/museosanscyrl_8-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosanscyrl_8-webfont.woff2') format('woff2'),
    url('../fonts/museosanscyrl_8-webfont.woff') format('woff'),
    url('../fonts/museosanscyrl_8-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}