@import 'variables';

.seller-info {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.seller-info__section {
  display: flex;
  justify-content: space-between;
}

.seller-info__text {
  width: 810px;
  font: 38px/1.48 'museo_sans_cyrl900', Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
}

.seller-info__text-gray {
  color: #546a79;
}

.seller-info__text-blue {
  color: $color-link;
}

.seller-info__text-red {
  color: #ee3738;
}

.seller-info__icon-wrap {
  margin: 15px 76px 0 20px;
  flex-shrink: 0;
}

.seller-info__icon {
  display: block;
}

.seller-info__feedback {
  display: flex;
  margin-top: 40px;
}

.seller-info__feedback-item {
  font: 24px/1.2 'museo_sans_cyrl900', 'Arial', sans-serif;

  & + & {
    margin-left: 60px;
  }
}

.seller-info__feedback-title {
  color: #000;
}

.seller-info__feedback-phone {
  color: #244859;
}

.seller-info__feedback-link {
  font-family: 'museo_sans_cyrl300', 'Arial', sans-serif;;
}