@import 'variables';

.use {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #000;
}

.use__title {
  margin-bottom: 29px;
}

.use__list {
  display: flex;
  margin: 0 -7px;
}

.use__item {
  margin: 7px;
  width: calc(100% / 4 - 14px);
}

.use__item-img {
  display: block;
  width: 100%;
  margin-bottom: 14px;
}

.use__item-title {
  font-size: 15px;
  font-family: 'museo_sans_cyrl700', Arial, sans-serif;
}

.use__item-place {
  margin-top: 5px;
  font-size: 14px;
  color: #546a79;
}