// fonts and colors

$font-family-base: 'museo_sans_cyrl300', Helvetica, Arial, sans-serif;
$font-size-base: 18px;
$line-height-base: 1.24;

$color-text: #546a79;
$color-link: #13abfc;
$color-link-dark: #1193d8;
$color-light-blue: #dfedf5;
$color-white: #fff;
$color-placeholder-base: #58595b;

// !fonts and colors

$base-duration: .25s;
$opacity-placeholder-focus: 0;

// mixins

@mixin font($size: $font-size-base, $height: $line-height-base, $font-family: $font-family-base) {
  font: #{$size}/#{$height $font-family};
}

@mixin placeholder($duration: $base-duration, $color: $color-placeholder-base) {
  opacity: 1;
  color: $color;
  transition: opacity $duration ease;
}

@mixin transition($property: all, $duration: $base-duration, $function: ease) {
  transition: $property $duration $function;
}

// !mixins